:root {
    --shadow: #e5e5e5
}
@font-face {
    font-family: Estedad;
    src: url('font/Estedad[KSHD\,wght].ttf');
}
* {
    box-sizing: border-box;
}
body {
    padding: 32px 12px;
    margin: 0 auto;
    font-family: Estedad;
    font-size: 16px;
    direction: rtl;
    width: 100%;
    max-width: 720px;
}
h1,
h2,
h3,
h4 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    margin: 0;
}

/* Header */
header {
    margin-bottom: 64px;
}
.header__brand {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
}
.header__brand .icon {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #eee;
}
.header__brand .title {
    font-size: 2em;
    color: #000;
}
.header__description {
    font-size: 1.3em;
    margin-top: 12px;
}
.header__description .emoji {
    font-size: 1.5em;
}

/* Work Samples */

/* Responsive */
@media screen and (max-width:480px) {
    body {
        font-size:  14px;
    }
}