:root {
  --shadow: #ddd;
}
@font-face {
  font-family: Estedad;
  src: url("font/Estedad[KSHD\,wght].ttf");
}
* {
  box-sizing: border-box;
}
body {
  padding: 0 12px;
  margin: 0 auto;
  font-family: Estedad;
  font-size: 16px;
  direction: rtl;
  width: 100%;
  max-width: 1024px;
}

/* Rewrite initial styles */
h1,
h2,
h3,
h4 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header */
header {
  margin: 32px 0;
}
.header__brand {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 24px;
}
.header__brand .icon {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  box-shadow: 0 0 6px var(--shadow);
}
.header__brand .title {
  font-size: 2em;
  color: #000;
}
.header__description {
  font-size: 1.3em;
  margin-top: 12px;
}
.header__description .emoji {
  font-size: 1.5em;
}

/* Cards */
.cards {
  margin-bottom: 32px;
}
.cards__title {
  font-size: 1.5em;
}
.cards__container {
  position: relative;
  overflow-x: hidden;
  height: 720px;
  width: calc(100% + 24px);
  margin: 0 -12px;
}
.cards__container .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;

  width: 48px;
  height: 48px;
  padding: 6px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px var(--shadow);
  cursor: pointer;
}
.cards__container .arrow--next {
  left: 5px;
}
.cards__container .arrow--previous {
  right: 5px; /* for list padding 12 */
  display: none;
}
.cards__container .list {
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 10;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 100%;
  padding: 12px 0;
  transition: 300ms;
}
.card {
  position: relative;
  width: 320px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 1px var(--shadow);
}
.card__image {
  width: 100%;
  height: 512px;
  border-radius: 12px 12px 0 0;
  border-bottom: 1px solid var(--shadow);
}
.card__head {
  display: flex;
  align-items: center;
  justify-content: start;
}
.card__head .icon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  margin-left: 6px;
}
.card__head .icon[src=""] {
  width: 0;
  margin-left: 0;
}
.card__head .name {
  font-size: 1.2em;
}
.card__description {
  padding: 0 12px;
  height: 87px;
}
.card__skills {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.card__skills .skill {
  display: inline-block;
  margin-left: 6px;
  border-radius: 6px;
  padding: 6px 12px;
  background-color: #f5f5f5;
}
.card__skills .skill.android {
  background-color: #3bd482;
  color: white;
}
.card__skills .skill.dart {
  background-color: #055a9c;
  color: white;
}
.card__skills .skill.flutter {
  background-color: #51bff0;
}
.card__skills .skill.python {
  background-color: #316b9a;
  color: white;
}
.card__skills .skill.fastapi {
  background-color: #019587;
  color: white;
}
.card__skills .skill.javascript {
  background-color: #fcdc00;
}
.card__skills .skill.django {
  background-color: #0c4b33;
  color: white;
}
.card__skills .skill.postgresql {
  background-color: #336791;
  color: white;
}
.card__skills .skill.gtk {
  background-color: #3b86e2;
  color: white;
}

/* Tiles */
.tiles {
  margin-bottom: 32px;
}
.tiles__title {
  font-size: 1.5em;
}
.tiles__description {
  font-size: 1.1em;
  margin-bottom: 24px;
}
.tile {
  margin-bottom: 24px;
}
.tile__head {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 9px;
}
.tile__head .icon {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: #777;
}
.tile__head .name {
  font-size: 1.2em;
}
.tile__description a {
  font-weight: 600;
  text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
